brain-inspired_intelligence/HW2/__pycache__/models.cpython-39.pyc
brain-inspired_intelligence/HW2/data/
DL/DL_HW1/data/
DL/DL_HW1/HW1_3/Pretrained_Resnet_tmp/pretrain.pdparams
DL/DL_HW1/model/Resnet_edit_params.pkl
